build/*
cache/*
/coverage.json
/coverage
node_modules/*
/dist
.idea/*
.eslintcache
docs

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# environment variables
.env

# VS Code
.vscode/